.feed{
    display: flex;
    margin: 20px 20px 20px 20px;
    height: 300px;
    width: 95%;
    align-items: center;
    justify-content: center;
    
}

.ip-feed{
    position: relative;
    background-color: rgb(151, 200, 209);
    display: flex;
    width: 1080px;
    height: 350px;
    margin-bottom: 10px;
    opacity: 40%;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    border-radius: 2%;
    border-color: rgb(0, 221, 255);
}

.ip-user{
    width: 300px;
    height: 50px;
    margin-top: 12%;
    margin-bottom: 1%;
    opacity: 40%;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    border-color: rgb(255, 221, 0);
}